@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.cloudy{
    background-image: url('cloudy.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.Smoke{
    background-image: url('smoke.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.Haze{
    background-image: url('haze.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.Sunny{
    background-image: url('sunny.jpeg');
    height : 100vh;
    width: 100vw;
    background-size: cover;

}
.PC{
    background-image: url('partly.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
body {
    color: black;
    font-family: "Nanum Gothic", sans-serif;
    height: 100vh;
    font-weight: bolder;
    background-size: cover;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin-top: 3rem;
}
.inputForm {
    display: flex;
    flex-direction: column;
    width: 85%;
}
.inputCity,
.formBtn {
    font-size: 1rem;
    padding: 7px 14px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 25px;
    outline: none;
    font-family: "Nanum Gothic", sans-serif;
    margin-bottom: 1rem;
}
.mc{
    background-image: url('mcloudy.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.rainy{
    background-image: url('rainy.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.formBtn {
    background: #22a6b3;
    color: #ecf0f1;
    cursor: pointer;
    border: none;
    transition: 0.3s all ease;
}
.formBtn:hover {
    background: #16818c;
}
.result {
    padding: 1rem;
    margin-top: 2rem;
}
.result p {
    margin: 1rem 0;
    text-align: center;
}
.city,
.country {
    font-size: 3.5rem;
}
.temprature {
    font-size: 6rem;
    font-weight: 700;
}
.sky {
    font-size: 1.3rem;
}
.min-max {
    font-size: 1.1rem;
}
footer {
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 0rem;
    width: 100%;
    text-align: center;
}
@media (min-width: 756px) {
    .inputForm {
        display: block;
        text-align: center;
    }
    .inputCity {
        margin-right: 1rem;
        width: 375px;
    }
}

/* Add this CSS to your existing stylesheet */

.weather-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.weather-table th, .weather-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.weather-table thead {
    background-color: #3498db;
    color: #fff;
}

.weather-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.weather-table tbody tr:hover {
    background-color: #e0e0e0;
}

.p{
    position: absolute;
    bottom: 0rem;
}